.App {
  min-height: 100vh;
  text-align: center;
  background-image: url('../src/960x0.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

