.App {
  min-height: 100vh;
  background-image: url("../src/homeImage.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.error {
  padding-left: 22rem;
}
.boxwidth {
  width: 500px;
  margin-top: 8rem;
}
.boxwidth input {
  width: 350px;
}
